anthropic
bambooai
flask
geopandas
google-cloud-storage
google-genai
google-generativeai
groq
gunicorn
ipython
jupyterlab
jupyterlab-vim
lxml_html_clean
matplotlib
mistralai
nbformat
newspaper3k
numpy
ollama
openai
pandas
pinecone==6.0.2
plotly
pyarrow
python-dotenv
qdrant-client
scikit-learn
scipy
seaborn
selenium
setuptools
statsmodels
sweatstack
termcolor
tiktoken
yfinance
