###########################################################################
# Standard DS stack
###########################################################################

matplotlib==3.10.9
numpy==2.4.4
pandas==2.3.3
seaborn==0.13.2

###########################################################################
# MLflow and tracking dependencies
###########################################################################

mlflow==3.12.0
scikit-learn==1.8.0
PyYAML==6.0.3

###########################################################################
# Development and tooling
###########################################################################

jupytext==1.19.1